<%= form_with(model: book) do |form| %>
<% if book.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :title, class: label_class %>
          <%= form.text_field :title, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :author, class: label_class %>
          <%= form.text_field :author, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :publisher, class: label_class %>
          <%= form.text_field :publisher, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :year, class: label_class %>
          <%= form.number_field :year, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :borrowed_at, class: label_class %>
          <%= form.datetime_field :borrowed_at, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :available, class: label_class %>
          <%= form.check_box :available, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :subject_id, class: label_class %>
        <%= form.select :subject_id, options_from_collection_for_select(Subject.all, 'id', 'name', selected = book.subject_id), class: label_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if book.persisted? %>
<%= link_to "Cancel", book, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", books_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
